<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<link rel="stylesheet" href="style.css" />
<title>目指せ！年収〇〇万円！</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    </link>
</head>
<body>


<h1 id="title">目指せ年収〇〇万円！</h1>

<!-- 座標をHTMLに出力し、その値を読み取りコントローラーで移動　Javascript -->
<input id="move" type="hidden" th:value="${movePoint}" />
<script th:inline="javascript">
/*<![CDATA[*/
window.onload = function(){
    // 要素の位置を取得する
    var movePoint = document.getElementById("move").value;
    if(movePoint != ""){
            var element = document.getElementById( movePoint ) ;
            var rect = element.getBoundingClientRect() ;
            var positionX = rect.left + window.pageXOffset ;    // 要素のX座標
            var positionY = rect.top + window.pageYOffset ; // 要素のY座標

    // 要素の位置にスクロールさせる
           window.scrollTo( positionX, positionY ) ;
    }
}
/*]]>*/
</script>





<!-- 画像の貼り付け -->
<img src="kuruma.gif" /> 
<img src="ie.gif" />
<img src="marry.png" />

<p>質問にお答えください</p>


性別は？<br />

 
<select name="gender">
<option value="man">男性</option>
<option value="woman">女性</option>
</select>

<br />
<!-- 送信ボタン /formに飛ぶ=========================================== 
現在の年齢は？<br />
<form method="post" th:action="@{/hogeage}">
  <input type="text" name="age" placeholder="年齢" />
  <input class="btn btn-primary" type="submit" value="決定"/>
</form>

<form method="post" >
<input type="text" name="age" th:value="${age}" />
</form>
<br />
現在の月収は？<br />
<form method="post" th:action="@{/hogegessyuu}">
  <input type="text" name="gessyuu" placeholder="月収" />
  <input class="btn btn-primary" type="submit" value="決定"/>
</form>

<form method="post" >
<input type="text" name="gessyuu" th:value="${gessyuu}" />
</form>

<br />
月いくら貯めれそうですか？<br />
<form method="post" th:action="@{/hogetukityo}">
  <input type="text" name="tukityo" placeholder="毎月の貯金" />
  <input class="btn btn-primary" type="submit" value="決定"/>
</form>

<form method="post" >
<input type="text" name="tukityo" th:value="${tukityo}" />
</form>

-->
現在の年齢は？<br />
<form method="post" th:action="@{/hogeinfo}">
  <input type="text" name="age" placeholder="年齢" />
<br />
現在の月収は？<br />
  <input type="text" name="gessyuu" placeholder="月収" />
<br />
月いくら貯めれそうですか？<br />
  <input type="text" name="tukityo" placeholder="毎月の貯金" /> 
<br />  
  <input class="btn btn-primary" type="submit" value="決定"/>
</form>

<form method="post" >
<input type="text" name="age" th:value="${age}" />
<input type="text" name="gessyuu" th:value="${gessyuu}" />
<input type="text" name="tukityo" th:value="${tukityo}" />
</form>



<br />
<!-- 送信ボタン　入力コマンド　kekkaに表示=============================== -->

<br />
<br />
<!-- 点線枠でくくって、背景クリーム色 -->
<div style="padding: 10px; margin-bottom: 10px; border: 1px dotted #333333; background-color: #ffff99;">

<!-- 結婚の質問リスト＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ -->


<div id="marriage"></div>
<h2>１．結婚について</h2>
<!-- 質問リスト -->

			
		質問：結婚してますか？<br /> <select name="marry">
					<option value="yes">はい</option>
					<option value="no">いいえ</option>
				</select>

<br />
結婚式はあげましたか？<br /> 
<select name="marrysiki">
<option value="yes">はい</option>
<option value="no">いいえ</option>
</select>


<br />

結婚式はどこで行いますか？<br />
<form method="post" th:action="@{/hogemarry}">
<select name="marryprice">
<option value="sikire">レストラン</option>
<option value="sikise">専門式場</option>
<option value="sikiho">ホテル</option>
<option value="sikige">ゲストハウス</option>
<option value="sikino">やらない</option>
<option value="sikisu">もうやった</option>
</select>

<br />          
新婚旅行の費用はいくらがいいですか？<br />
  <input type="text" name="marrytrip" placeholder="新婚旅行の費用" />
  
  <br />
  <input class="btn btn-danger" type="submit" value="決定"/>
</form>



<a href="http://www.honeymoon-s.jp/budget.html"> <br />
新婚旅行　参考サイト
</a><br />

<input type="text" name="marryprice" th:value="${marryprice}" />
<input type="text" name="marrytrip" th:value="${marrytrip}" />
<br />
<input type="text" name="marrysum" th:value="${marrysum}" />


		<br /> <br /> <br />


<div id="education"></div>
		<!-- 教育の質問リスト========================================================= -->
<h2>２．教育について</h2>

<div id="point"></div>


<form method="post" th:action="@{/hogegaku}">
子供は何人ほしいですか？<br />
  <input type="text" name="child" placeholder="子供の数" />
<br />

幼稚園に通わせるのは？<br />
<select name="you">
<option value="yoko">公立</option>
<option value="yosi">私立</option>
</select>
<br />

小学校に通わせるのは？<br />
<select name="syou">
<option value="syoko">公立</option>
<option value="syosi">私立</option>
</select>
<br />

中学校に通わせるのは？<br /> 
<select name="tyuu">
<option value="tyuuko">公立</option>
<option value="tyuusi">私立</option>
</select>

<br />
高校に通わせるのは？<br />
<select name="kou">
<option value="kouko">公立</option>
<option value="kousi">私立</option>
</select>

<br />
大学に通わせるのは？<br /> 
<select name="dai">
<option value="daikokuzi">国公立(自宅通学)</option>
<option value="daikokuhi">国公立(自宅外)</option>
<option value="daisibuzi">私立文系(自宅通学)</option>
<option value="daisibuhi">私立文系(自宅外)</option>
<option value="daisirizi">私立理系(自宅通学)</option>
<option value="daisirihi">私立理系(自宅外)</option>
<option value="daisihazi">私立医歯系(自宅通学)</option>
<option value="daisihahi">私立医歯系(自宅外)</option>
<option value="daino">通わせない</option>
</select>

<br />
大学院に通わせるのは？<br /> 
<select name="in">
<option value="inkoku">国公立</option>
<option value="insibu">私立文系</option>
<option value="insiri">私立理系</option>
<option value="insiha">私立医歯系</option>
<option value="inno">通わせない</option>
</select>

<br />
<input class="btn btn-success" type="submit" value="決定"/>
</form>

<input type="text" name="child" th:value="${child}" />
<input type="text" name="you" th:value="${you}" />
<input type="text" name="syou" th:value="${syou}" />
<input type="text" name="tyuu" th:value="${tyuu}" />
<input type="text" name="kou" th:value="${kou}" />
<input type="text" name="dai" th:value="${dai}" />
<input type="text" name="in" th:value="${in}" />
<br />
<input type="text" name="gakusum" th:value="${gakusum}" />



		<br /> <br /> <br />

<!-- =================================================家の質問リスト============================================ -->
<div id="house"></div>
<h2>３．住宅について</h2>



(実家暮らしの場合)一人暮らしは何年後する予定ですか？<br />
<!-- 送信ボタン　入力コマンド=============================== -->
<form method="get" th:action="@{/form31}">
  <input type="text" name="nannengo" placeholder="何年後" />
  <input type="submit" value="決定"/>
</form>
<!-- 表示される文章================== -->
<form method="get" >
<input type="text" name="nannengo" th:value="${nannengo}" />
</form>


(一人暮らし、同棲の場合)家賃や光熱費、水道代はまとめていくらですか？<br />

<!-- 送信ボタン　入力コマンド=============================== -->
<form method="get" th:action="@{/form32}">
  <input type="text" name="yatin" placeholder="生活費" />
  <input type="submit" value="決定"/>
</form>
<!-- 表示される文章================== -->
<form method="get" >
<input type="text" name="yatin" th:value="${yatin}" />
</form>

マイホームを購入する場合、どれくらいの金額を想定しますか？<br />

<!-- 送信ボタン　入力コマンド=============================== -->
<form method="post" th:action="@{/hoge33}">
  <input type="text" name="myhome" placeholder="家賃" />
  <input class="btn btn-warning" type="submit" value="決定"/>
</form>
<!-- 表示される文章================== -->
<form method="post" >
<input type="text" name="myhome" th:value="${myhome}" />
</form>

<br />



適当な数字を入力すると合計家賃が出るよ 
<form method="post" th:action="@{/hoge310}">
<input type="text" name="housesum" th:value="${housesum}" />
<input class="btn btn-warning" type="submit" value="合計" />
</form>


<br />
<br />
<br />

<!-- =================================================車の質問リスト============================================ -->

<h2>４．車について</h2>


およそいくらの本体価格の車を購入したいですか？(購入したくない場合は0を入力)<br />
<!-- 送信ボタン　入力コマンド=============================================================== -->
<form method="get" th:action="@{/form41}">
<input type="text" name="carprice" placeholder="いくら" />
<input type="submit" value="決定"/>
</form>
<!-- 表示される文章========================================================================= -->
<form method="get" >
<input type="text" name="carprice" th:value="${carprice}" />
</form>


任意保険に入る？<br /> 
    <select name="carinsurance">
        <option value="yes">はい</option>
        <option value="no">いいえ</option>
    </select>


<a href="sisaku.html"> <br />
試作
</a> 
<br /> 




<a href="kekka.html"> <br /> 
結果
</a> 
<br />
<form method="post" th:action="@{/hoge1000}">
  <input type="text" name="totalsum" placeholder="1を入力して" />
  <input type="submit" value="決定"/>
</form>



<a href="kakunin.html"> <br /> 
確認
</a> 
<br />

</div>	
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
