<html>
<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="style.css" />
<title>あなたの年収</title>
</head>
<body>


<center>
<h1 id="title">かかる費用の総計は・・・</h1>



<form method="post" >
<input type="text" name="totalsum" th:value="${totalsum}" />
</form>
<h1 id="title">です</h1>
<br />
<h1 id="title">理想の年収は・・・</h1> 
<form method="post" th:action="@{/hoge2000}">
<input type="text" name="risou" th:value="${risou}" />
<input type="submit" value="年収" />
</form>

<img src="kuruma.gif" />
<img src="yorokobi.png" />

<img src="ie.gif" />
<img src="kane.png" />
<a href="index.html">
<br />
戻る
</a>
<br />

</center>
</body>
</html>
