@charset "UTF-8";

@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");
h1 {
	color: #cc0033;   /*文字の色を変更　#cc0033は赤*/
    font-size: 45px;    /*文字サイズ変更*/
}


#title {
	color: #6600ff;     /*h1内のid="title" の部分のみ変更*/
	font-family: monospace;
}



p {
	color: blue;
	font-size: 20px;
}

img {
	width: 300px;   /*画像のサイズを変更*/
	height: auto;
}

a {
	text-decoration: none;  /*ハイパーリンクの下線を消す*/
}
